@model MovieStore.Models.Movie

<script>
	function addMovie(movieid) {
		$.ajax({
			url: "/Movie/AddToCart",
			data: { MovieID: movieid },
			success: function () {
				$(document.body).load(location.href, function () {
					// Toggle the dropdowns or they will stop working
					$('.dropdown-toggle').dropdown();
				});
			}
		});
	}
</script>
<div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 mt-4">
	<div class="card shadow" style="background-color: azure">
		<div class="card-header p-2" style="background-color:palegreen">
			<h4 class="text-center text-truncate">@Html.DisplayFor(model => model.Title)</h4>
		</div>
		<div class="row mr-0">
			<div class="col-3 p-1">
			@if (Model.ImageURL != "")
			{
				<img src=@Html.DisplayFor(model => model.ImageURL) alt="Movie Poster" class="img-fluid rounded shadow mt-2 mb-2" />

			}
			</div>
			<div class="card-body d-flex flex-column p-3">
				<dl class="row m-0">
					<dt class="col-5 text-right text-nowrap">
						@Html.DisplayNameFor(model => model.ReleaseYear)
					</dt>
					<dd class="col-7 text-left">
						@Html.DisplayFor(model => model.ReleaseYear)
					</dd>
				</dl>
				<dl class="row m-0">
					<dt class="col-5 text-right">
						@Html.DisplayNameFor(model => model.Price)
					</dt>
					<dd class="col-7 text-left text-danger">
						@Html.DisplayFor(model => model.Price)
					</dd>
				</dl>
				<div class="mt-auto d-inline-flex">
					@Html.ActionLink("Details", "Details", "Movie", new { MovieId = Model.ID }, new { @class = "btn btn-primary mt-auto ml-auto mr-0", @style = "border-radius: 0.5rem 0 0 0.5rem;" })
					<button onclick="addMovie(@Model.ID)" class="btn btn-success mt-auto ml-0 mr-3" style="border-radius: 0 0.5rem 0.5rem 0;">Add to Cart</button>
				</div>
			</div>
		</div>
	</div>
</div>
