@model MovieStore.Models.OrderVM
@using MovieStore.Models

@{ 
	decimal Delivery = 49.90m; // Maybe get this from a global variable
	decimal Total = Delivery;
	List<CartViewModel> movieAmount = new List<CartViewModel>();
	foreach (var item in Model.OrderRows)
	{
		Total += item.Price;
		int i = movieAmount.FindIndex(m => m.Movie.ID == item.MovieID);
		if (i != -1) { movieAmount[i].Amount++; }
		else { movieAmount.Add(new CartViewModel(1, item.Movie)); }
	}
}

<tr class="bg-warning">
	<td class="border-right">@Model.Order.ID</td>
	<td class="border-right">@Html.DisplayFor(model => model.Order.OrderDate)</td>
	<td>@Model.Order.Customer.FirstName @Model.Order.Customer.LastName</td>
</tr>
<tr>
	<td></td>
	<td colspan="2" class="mb-0 p-0 pb-2">
		<table class="mt-0 table-striped table-borderless w-75">
			<tr class="bg-info">
				<th class="w-50 border-top-0">Movie Title</th>
				<th class="border-top-0">Price</th>
				<th class="w-8 border-top-0">Amount</th>
				<th class="border-top-0">Sub Total</th>
			</tr>
			@foreach (var mov in movieAmount)
			{
				<tr>
					<td>@mov.Movie.Title</td>
					<td>@mov.Movie.Price.ToString("c")</td>
					<td class="text-center">@mov.Amount</td>
					<td>@(mov.Movie.Price * mov.Amount) kr</td>
  
				  </tr>
			}
			<tr>
				<td colspan="3" class="font-weight-light">Delivery fee</td>
				<td class="font-weight-light">@Delivery.ToString("c")</td>
			</tr>
			<tr class="bg-info">
				<td></td>
				<td colspan="2" class="text-right font-weight-bold">Total Order Cost</td>
				<td class="font-weight-bold">@Total.ToString("c")</td>
			</tr>
		</table>
	</td>
</tr>