@using MovieStore.Models
@using Microsoft.AspNet.Identity

@{ ViewBag.Title = "Place Order";
	var cart = (List<CartViewModel>)Session["CartItems"];
	decimal totalAmount = 49.90m;
	foreach (var item in cart)
	{
		totalAmount += item.Movie.Price * item.Amount;
	}
	var uid = User.Identity.GetUserId();
}

<br />
<h2 class="offset-2 mt-5">@ViewBag.Title</h2>

<table class="table offset-md-0 offset-lg-2 col-md-12 col-lg-8">
	<tr>
		<th class="col-7">Title</th>
		<th class="col-2">Price</th>
		<th class="col-1 text-right pr-5">Amount</th>
		<th class="col-2">Total</th>
	</tr>
	@foreach (var item in cart)
	{
<tr>
	<td>
		@item.Movie.Title
	</td>
	<td>
		<div class="text-nowrap">@Html.DisplayFor(movie => item.Movie.Price)</div>
	</td>
	<td class="text-right pr-5">
		@item.Amount
	</td>
	<td>
		<div class="text-nowrap">@(item.Movie.Price * item.Amount) kr</div>
	</td>
</tr>
}
	<tr>
		<td>Delivery to your door</td>
		<td></td>
		<td class="text-right pr-5">1</td>
		<td>49,90 kr</td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2" class="text-right pr-5 font-weight-bold">Total Amount</td>
		<td class="font-weight-bold text-nowrap">@totalAmount kr</td>
	</tr>
</table>
<hr />
@if (ViewBag.OrderStatus)
{
	<h3>@ViewBag.OrderMessage</h3>

	<div>Your order will be delivered shortly!</div>

	<div class="offset-6 col-6">
		@Html.ActionLink("Order more movies!", "Index", "Movie", null, new { @class = "btn btn-primary float-right mr-3" })
	</div> 
}
else
{ 
	@* TODO: Check if there's a user logged in,
	then check if that user have a matching customerId *@
	<h2 class="offset-2">Delivery Details</h2> Html.RenderAction("CustomerDetailsPartial", "Customer", new { userid = uid });
	<hr />
	<div class="row">
		<div class="offset-2 col-4">
			<div class="text-danger">@ViewBag.OrderMessage</div>
		</div>
		<div class="col-4 text-right">
			@Html.ActionLink("Continue Shopping", "Index", "Movie", null, new { @class = "btn btn-primary mr-3" })
			@Html.ActionLink("Confirm Order", "ConfirmOrder", "Order", new { userid = uid }, new { @class = "btn btn-success float-right" })
		</div>
	</div>
}
