@using MovieStore.Models

@{
	ViewBag.Title = "Cart";
	var cart = (List<CartViewModel>)Session["CartItems"];
}
<script>
	function addMovie(movieid) {
		$.ajax({
			url: "/Movie/AddToCart",
			data: { MovieID: movieid },
			success: function () {
				$(document.body).load(location.href, function () {
					// Toggle the dropdowns or they will stop working
					$('.dropdown-toggle').dropdown();
				});
			}
		});
	}
	function removeMovie(movieid) {
		$.ajax({
			url: "/Movie/RemoveFromCart",
			data: { MovieID: movieid },
			success: function () {
				$(document.body).load(location.href, function () {
					// Toggle the dropdowns or they will stop working
					$('.dropdown-toggle').dropdown();
				});
			}
		});
	}
</script>

<br />
<h2 class="offset-2 mt-5">@ViewBag.Title</h2>

<table class="table offset-md-0 offset-lg-2 col-md-12 col-lg-8">
	<tr>
		<th>Title</th>
		<th>Price</th>
		<th>Amount</th>
	</tr>
	@foreach (var item in cart)
	{
	<tr>
		<td>
			@Html.ActionLink(@item.Movie.Title, "Details", "Movie", new { MovieId = @item.Movie.ID }, new { title = "Click for movie details" })
		</td>
		<td>
			@Html.DisplayFor(movie => item.Movie.Price)
		</td>
		<td>
			<a href="#" onclick="removeMovie(@item.Movie.ID)">
				<i class="fas fa-minus-circle text-danger"></i>
			</a>
			@item.Amount
			<a href="#" onclick="addMovie(@item.Movie.ID)">
				<i class="fas fa-plus-circle text-success"></i>
			</a>
		</td>
	</tr>
	}
</table>
<div class="offset-md-7 offset-3">
	@Html.ActionLink("Continue Shopping", "Index", "Movie", null, new { @class = "btn btn-primary mr-3" })
	@Html.ActionLink("Place Order", "PlaceOrder", "Order", null, new { @class = "btn btn-success" })
</div>
